@using KudissangaSite.Areas.Identity.Data;
@using KudissangaSite.Extensions;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<KudissangaSite.Models.Cliente>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Lista de Clientes";
}



<h2 style="padding-top: 20px">@ViewData["Title"]</h2>
<hr />

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Telefone)
                </td>
                <td>
                    @if(this.IfClaim("Usuario", "EditarCliente")){
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    }
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    @if(this.IfClaim("Usuario", "EliminarCliente"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Pessoa.Id">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

